@import 'tw-animate-css';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: 'Inter', sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 90vw;
}

@utility overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

@utility modais {
  position: fixed;
  min-width: 600px;
  min-height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-card);
  color: var(--color-card-foreground);
  padding: 1.5rem;
  border-radius: var(--radius-md);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 60;
}

@layer base {
  :root {
    --background: oklch(18.02% 0.032 266.62);
    --foreground: oklch(92.9% 0.013 255.5);

    --card: oklch(20.7% 0.037 264.7);
    --card-foreground: oklch(92.9% 0.013 255.5);
    --popover: oklch(20.7% 0.037 264.7);
    --popover-foreground: oklch(92.9% 0.013 255.5);

    --primary: oklch(75.35% 0.139 232.66);
    --primary-foreground: oklch(20.7% 0.037 264.7);

    --secondary: oklch(25% 0.04 264.7);
    --secondary-foreground: oklch(92.9% 0.013 255.5);

    --muted: oklch(35.5% 0.066 264.5);
    --muted-foreground: oklch(70.4% 0.04 256.8);

    --accent: oklch(35.5% 0.066 264.5);
    --accent-foreground: oklch(92.9% 0.013 255.5);

    --destructive: oklch(39.6% 0.141 25.7);
    --destructive-foreground: oklch(92.9% 0.013 255.5);

    --border: oklch(35.5% 0.066 264.5);
    --input: oklch(35.5% 0.066 264.5);
    --ring: oklch(75.35% 0.139 232.66);

    --radius: 0.5rem;

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);

    --sidebar: oklch(20.7% 0.037 264.7);
    --sidebar-foreground: oklch(92.9% 0.013 255.5);
    --sidebar-primary: oklch(75.35% 0.139 232.66);
    --sidebar-primary-foreground: oklch(20.7% 0.037 264.7);
    --sidebar-accent: oklch(35.5% 0.066 264.5);
    --sidebar-accent-foreground: oklch(92.9% 0.013 255.5);
    --sidebar-border: oklch(35.5% 0.066 264.5);
    --sidebar-ring: oklch(75.35% 0.139 232.66);
  }

  .light {
    --background: oklch(97.47% 0.002 17.2);
    --foreground: oklch(20.7% 0.037 264.7);

    --card: oklch(100% 0 0);
    --card-foreground: oklch(20.7% 0.037 264.7);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(20.7% 0.037 264.7);

    --primary: oklch(75.35% 0.139 232.66);
    --primary-foreground: oklch(20.7% 0.037 264.7);

    --secondary: oklch(96% 0.01 264.7);
    --secondary-foreground: oklch(20.7% 0.037 264.7);

    --muted: oklch(96% 0.01 264.7);
    --muted-foreground: oklch(45% 0.04 256.8);

    --accent: oklch(96% 0.01 264.7);
    --accent-foreground: oklch(20.7% 0.037 264.7);

    --destructive: oklch(60% 0.2 20);
    --destructive-foreground: oklch(98% 0 0);

    --border: oklch(90% 0.02 264.7);
    --input: oklch(90% 0.02 264.7);
    --ring: oklch(75.35% 0.139 232.66);

    --sidebar: oklch(98% 0.002 247.839);
    --sidebar-foreground: oklch(20.7% 0.037 264.7);
    --sidebar-primary: oklch(75.35% 0.139 232.66);
    --sidebar-primary-foreground: oklch(20.7% 0.037 264.7);
    --sidebar-accent: oklch(96% 0.01 264.7);
    --sidebar-accent-foreground: oklch(20.7% 0.037 264.7);
    --sidebar-border: oklch(90% 0.02 264.7);
    --sidebar-ring: oklch(75.35% 0.139 232.66);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
