version: "3.8"

services:
  db:
    image: postgres:alpine
    container_name: booking_system_db
    restart: always
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: projeto123
      POSTGRES_DB: booking_system
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
